* {
  --header-height: 100px;
  --footer-height: 100px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #F9F2ED;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

a,
li {
  background-color: inherit;
  color: inherit;
  text-decoration: inherit;
}